<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeskraps.chronoid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <application
        android:name=".ChronoidApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".ChronoidActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrefsActivity"
            android:label="@string/prefsActivity_title" />
        <activity
            android:name=".PausedActivity"
            android:label="@string/paused_acitivity_title"
            android:theme="@style/Theme.Translucent" />
        <activity android:name=".DonationActivity" />
    </application>

</manifest>